.step__section {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.Step__section-title {
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    position: relative;
    margin-bottom: 64px;
    padding-bottom: 24px;
    display: inline-block;
    box-shadow: 0 25px 0 -23px #343444
}


.single__step {
    background: rgb(181, 181, 181);
    border-radius: 5px;
    width: 330px;
    height: 360px;
    padding: 50px;
}

.single__step:hover > .step__item__content > h5, 
.single__step:hover > .step__item__content > p {
    color: white;
}

.single__step:hover {
    background-color: rgb(39, 1, 116);
    transition: 800ms ease;
}

.single__step > span {
    color: white;
}


.step__item__content > h5 {
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
}



.step__item__content > p {
    font-size: 16px;
    color: #313131;
    margin-bottom: 20px;
}

